<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<httpRuntime maxRequestLength="65535" maxUrlLength="65535" maxQueryStringLength="65535" />
	</system.web>
	<system.webServer>
		<!--Just to make sure these fonts work as expected...-->
		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
		</staticContent>
		<rewrite>
			<rules>
				<!-- HTTP_AUTHORIZATION variable removed-->
				<rule name="TRACE and TRACK HTTP methods" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions>
						<!-- TRACE and TRACK HTTP methods disabled to prevent XSS attacks-->
						<add input="{REQUEST_METHOD}" pattern="^TRAC[EK]" ignoreCase="false" />
					</conditions>
					<action type="Redirect" redirectType="Temporary" url="{R:0}" />
				</rule>
				<!--rewrite everything else to index.php-->
				<rule name="Rewrite everything to index.php" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions>
						<add input="{URL}" pattern="^/(media|skin|js)/" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
						<!--Symbolic link filetype does not exists in Windows/IIS -->
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
		<modules>
			<remove name="UrlAuthorization" />
			<add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule"  />
		</modules>
		<!--<security>
			<authorization>
				<remove users="*" roles="" verbs="" />
			</authorization>
		</security>-->
	</system.webServer>
	<!--Custom configuration for the pub directory-->
	<location path="pub">
		<system.webServer>
			<rewrite>
				<rules>
					<clear />
					<!-- HTTP_AUTHORIZATION variable removed-->
					<rule name="TRACE and TRACK HTTP methods 2" stopProcessing="true">
						<match url=".*" ignoreCase="false" />
						<conditions>
							<!-- TRACE and TRACK HTTP methods disabled to prevent XSS attacks-->
							<add input="{REQUEST_METHOD}" pattern="^TRAC[EK]" ignoreCase="false" />
						</conditions>
						<action type="Redirect" redirectType="Temporary" url="{R:0}" />
					</rule>
					<rule name="Route requests to index.php 2" stopProcessing="true">
						<match url=".*" ignoreCase="false" />
						<conditions>
							<add input="{URL}" pattern="^/(media|skin|js)/" ignoreCase="false" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
							<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
						</conditions>
						<action type="Rewrite" url="pub/index.php" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
	<!--Custom configuration for the pub/static directory-->
	<location path="pub/static">
		<system.webServer>
			<rewrite>
				<rules>
					<clear/>
					<rule name="Imported Rule 1-1 - pub" stopProcessing="false">
						<match url="^pub/static/version.+?/(.+)$" ignoreCase="false" />
						<action type="Rewrite" url="{R:1}" />
					</rule>
					<rule name="Imported Rule 2" stopProcessing="false">
						<match url=".*" ignoreCase="false" />
						<conditions logicalGrouping="MatchAll">
							<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						</conditions>
						<action type="Rewrite" url="pub/static.php?resource={R:0}" appendQueryString="false" />
					</rule>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
	<!--Custom configuration for the setup directory-->
	<location path="setup">
		<system.webServer>
			<rewrite>
				<rules>
					<clear/>
				</rules>
			</rewrite>
		</system.webServer>
	</location>
	<!--https://stackoverflow.com/questions/37078383/deny-all-files-in-a-directory-via-web-config-setting/37080857#37080857-->
	<location path="app">
		<system.webServer>
			<security>
				<authorization>
					<remove users="*" roles="" verbs="" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="vendor">
		<system.webServer>
			<security>
				<authorization>
					<remove users="*" roles="" verbs="" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="update">
		<system.webServer>
			<security>
				<authorization>
					<remove users="*" roles="" verbs="" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="lib">
		<system.webServer>
			<security>
				<authorization>
					<remove users="*" roles="" verbs="" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="bin">
		<system.webServer>
			<security>
				<authorization>
					<remove users="*" roles="" verbs="" />
				</authorization>
			</security>
		</system.webServer>
	</location>
	<location path="chef">
		<system.webServer>
			<security>
				<authorization>
					<remove users="*" roles="" verbs="" />
				</authorization>
			</security>
		</system.webServer>
	</location>
</configuration>