<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear />
				<!-- HTTP_AUTHORIZATION variable removed-->
				<rule name="TRACE and TRACK HTTP methods 2" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions>
						<!-- TRACE and TRACK HTTP methods disabled to prevent XSS attacks-->
						<add input="{REQUEST_METHOD}" pattern="^TRAC[EK]" ignoreCase="false" />
					</conditions>
					<action type="Redirect" redirectType="Temporary" url="{R:0}" />
				</rule>
				<rule name="Route requests to index.php 2" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions>
						<add input="{URL}" pattern="^/(media|skin|js)/" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<location path="static">
		<system.webServer>
		<rewrite>
			<rules>
				<clear/>
				<rule name="Imported Rule 1-1 - pub" stopProcessing="false">
					<match url="^static/version.+?/(.+)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="false">
					<match url=".*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="static.php?resource={R:0}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	</location>
</configuration>