<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<clear/>
				<rule name="Imported Rule 1-1 - pub" stopProcessing="true">
					<match url="^version.+?/(.+)$" ignoreCase="false" />
					<action type="Rewrite" url="{R:1}" />
				</rule>
				<rule name="Imported Rule 2" stopProcessing="true">
					<match url=".*" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="../static.php?resource={R:0}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
